<%- include("include/_header") -%>
    <div class="p-4" style="
    min-height: calc(100vh - 56px);
    background: rgb(0,212,255);
    background: linear-gradient(
-45deg
, rgba(0,212,255,1) 2%, rgba(215,18,166,1) 80%);">
        <div class="bg-light container p-4 rounded" style="max-width: 400px;
        ">
            <%if(locals.user.admin){%>
                <h1 class="text-center">Thanks For The Hard Work Admin</h1>
                <a href="">
                    <div class="w-75 m-auto mt-3">
                        <img class="img-fluid rounded"
                            src="https://cdn.dribbble.com/users/132194/screenshots/9858276/gangstersketches_4x.gif?compress=1&resize=400x300"
                            alt="">
                    </div>
                </a>
                <%}else{%>
                    <div class=" d-flex align-items-baseline">
                        <h1>Admin Log In</h1>
                        <i class="fas fa-user-secret fs-2 ms-2"></i>
                    </div>
                    <form action="/admin" method="post">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input name="admin" required type="password" class="form-control shadow-sm"
                                id="exampleInputPassword1">
                        </div>
                        <%if(msg){%>
                            <p class="text-danger">
                                <%=msg%>
                            </p>
                            <%}%>
                                <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <%}%>
        </div>
    </div>
    <%- include("include/_footer") -%>