<%- include("include/_header") -%>
    <main class="p-4" style="
    min-height: calc(100vh - 56px);
    background: rgb(0,212,255);
    background: linear-gradient(
-45deg
, rgba(0,212,255,1) 2%, rgba(215,18,166,1) 80%);">
        <div class="bg-light container p-4 rounded" style="max-width: 400px;">
            <h1>Create Message</h1>
            <form method="post" action="message">
                <div class="mb-3">
                    <label for="messageHeader" class="form-label">Title</label>
                    <input maxlength="25" required class="form-control shadow-sm" name="messageHeader"
                        id="messageHeader">
                    <div class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="messageBody" class="form-label">Message</label>
                    <textarea maxlength="140" required placeholder="Enter A Message" class="form-control"
                        name="messageBody" id="messageBody" rows="7" id="message-body"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </main>
    <%- include("include/_footer") -%>