<%- include("include/_header") -%>
  <%if(messages.success){%>
    <p class="text-danger">
      <%=messages.success%>
    </p>
    <%}%>
      <%if(!locals.user || !locals.user.member){%>
        <h1 class="fs-4 p-4">
          <i class="fas fa-exclamation-triangle text-danger"></i>
          <%if(!locals.user){%>
            <a href="/sign-up" class="text-decoration-none">Sign Up</a>
            <span>or</span>
            <a href="/log-in" class="text-decoration-none">Log In</a>
            <span>and Become a Member to see Messages</span>
            <%} else if(!locals.user.member){ %>
              <a href="/member" class="text-decoration-none">Become a Member</a>
              <span>to Create Messages</span>
              <%}%>
        </h1>
        <% }%>
          <div class="container p-5 px-5 py-3">
            <div class="card mb-3 text-white bg-dark m-auto" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4 p-3 d-md-flex align-items-center image-section">
                  <div class="avatar-wrapper big">
                    <div class="avatar big">
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body d-flex flex-column h-100">
                    <div class="d-flex align-items-center">
                      <h5 class="card-title fs-3 py-2 text-sm-start">Card title</h5>
                      <%if(locals.user.admin){%>
                        <i class="far fa-trash-alt ms-auto fs-5 p-2 text-danger" style="cursor: pointer;"></i>
                        <%}%>
                    </div>
                    <div>
                      <p class="card-text mb-4 <%=locals.user ? " reveal" : " blur" %>">This is a wider card with
                        supporting
                        text
                        below
                        as a natural lead-in to
                        additional
                        content. This content is a little bit longer.
                      </p>
                    </div>
                    <div
                      class="align-items-center border border-bottom-0 border-end-0 border-secondary border-start-0 card-text d-flex flex-wrap justify-content-between mt-auto mt-autp pt-2">
                      <div class="align-items-center d-flex my-2 flex-wrap gap-1" style="
                /* margin: 2rem; */
            ">
                        <div class="avatar-wrapper small">
                          <div class="avatar small">
                          </div>
                        </div>
                        <div class="bg-danger fw-light my-1 px-3 py-2 rounded-pill" style="
                /* color: red; */
                background-color: none;
            ">
                          <strong>kennypowers69</strong>
                        </div>
                      </div>
                      <small class="my-1 ps-2 text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 text-white bg-dark m-auto" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4 p-3 d-md-flex align-items-center image-section">
                  <div class="avatar-wrapper big">
                    <div class="avatar big">
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body d-flex flex-column h-100">
                    <h5 class="card-title fs-3 py-2 text-sm-start">Card title</h5>
                    <div>
                      <p class="card-text mb-4">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.
                      </p>
                    </div>
                    <div
                      class="align-items-center border border-bottom-0 border-end-0 border-secondary border-start-0 card-text d-flex flex-wrap justify-content-between mt-auto mt-autp pt-2">
                      <div class="align-items-center d-flex my-2 flex-wrap gap-1" style="
                    /* margin: 2rem; */
                ">
                        <div class="avatar-wrapper small">
                          <div class="avatar small">
                          </div>
                        </div>
                        <div class="bg-danger fw-light my-1 px-3 py-2 rounded-pill" style="
                    /* color: red; */
                    background-color: none;
                ">
                          <strong>kennypowers69</strong>
                        </div>
                      </div>
                      <small class="my-1 ps-2 text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include("include/_footer") -%>