<%- include("include/_header") -%>
    <div class="p-4" style="
    min-height: calc(100vh - 56px);
    background: rgb(0,212,255);
    background: linear-gradient(
-45deg
, rgba(0,212,255,1) 2%, rgba(215,18,166,1) 80%);">
        <div class="bg-light container p-4 rounded"
            style="max-width: 400px;/* background: rgb(0,212,255); *//* background: linear-gradient(-45deg, rgba(0,212,255,1) 2%, rgba(215,18,166,1) 80%); */">
            <h1>Sign Up</h1>
            <form method="post" action="/sign-up">
                <div class="mb-3">
                    <label for="username-input" class="form-label">Username<span class="text-danger">*</span>
                    </label>
                    <input class="form-control shadow-sm" type="text" name="username" id="username-input" required>
                    <span class="text-danger py-2" id="username-error"></span>
                </div>
                <div class="mb-3">
                    <label for="imageUrl" class="form-label">Avatar Image URL</label>
                    <input placeholder="example: https://picsum.photos/200" type="url" class="form-control shadow-sm"
                        id="imageUrl" name="imageUrl">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password<span class="text-danger">*</span></label>
                    <input type="password" class="form-control 
                    shadow-sm" name="password" id="password" required>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password<span
                            class="text-danger">*</span></label>
                    <input type="password" class="form-control shadow-sm" name="confirmPassword" id=" confirm-password"
                        required>
                    <span class="text-danger py-2" id="password-error"></span>
                </div>
                <div class="pb-3"><span class="text-danger">*</span>Required field</div>
                <a href="/log-in" class="d-block pb-3 text-decoration-none" href="">Already have an Acount? Sign In</a>
                <button type="submit" class="btn btn-primary" id="submitSignIn">Submit</button>
            </form>
        </div>
    </div>
    <script src="/javascripts/formValidation.js"></script>
    <%- include("include/_footer") -%>