body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.avatar {
  background: url("https://cdn.vox-cdn.com/thumbor/0ZX18M8vX6dpYC86WV-ZQaHv6RQ=/0x73:1100x806/920x613/filters:focal(0x73:1100x806):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/8270369/tv_eastbound_down01.0.jpg");
  border-radius: 1000px;
  position: absolute;
  border: white solid 2px;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.avatar-wrapper {
  position: relative;
  /* border: red solid 1px; */
  width: 100%;
  padding-bottom: 100%;
}

.image-section {
  display: none;
}

.avatar-wrapper.small {
  padding-bottom: 0;
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.blur {
  filter: blur(4px);
}

.hidden-text {
  cursor: default;
  opacity: 0;
  transition: 0.75s;
}

.hidden-text.show {
  opacity: 1;
}

@media (min-width: 768px) {
  .avatar-wrapper.small {
    display: none;
  }

  .image-section {
    display: block;
  }
}
