body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.avatar {
  border-radius: 1000px;
  position: absolute;
  border: white solid 2px;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.avatar-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.image-section {
  display: none;
}

.avatar-wrapper.small {
  padding-bottom: 0;
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.hidden-text {
  cursor: default;
  opacity: 0;
  transition: 0.75s;
}

.hidden-text.show {
  opacity: 1;
}

.hide {
  visibility: hidden;
}

.blur {
  filter: blur(4px);
}

.reveal {
  animation: reveal 2s ease-in-out forwards;
}

.avatar.finished {
  animation: none;
}

.round-img-wrapper {
  height: 50px;
  width: 50px;
}
.round-img-wrapper > img {
  height: 100%;
  width: 100%;
}

.beat {
  animation: beat 1s alternate infinite ease-in-out;
}

/* keyframes */

@keyframes reveal {
  0% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes beat {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.5);
  }
}

@media (min-width: 768px) {
  .avatar-wrapper.small:not(.always) {
    display: none;
  }

  .image-section {
    display: block;
  }
}
